mixin article(post, index)
  article(
      id=`${post.layout}-${post.slug}` 
      class=`article article-type-${post.layout}`
      itemscope
      itemprop="blogPost"
    )
      div(class="article-meta")
        +post-date(post, 'article-date', null)
        +post-category(post)
      .article-inner
        +post-gallery(post)
        if (post.link || post.title)
          header.article-header
            +post-title(post, 'article-title')
        div(
          class="article-entry"
          itemprop="articleBody"  
        )
          if (post.excerpt && index)
            != post.excerpt
            if theme.excerpt_link
              p.article-more-link
                a(href!=url_for(post.path))= theme.excerpt_link
          else
            != post.content
        footer.article-footer
          a(data-url=post.permalink class="article-share-link")= __('share')
        if !index
          +post-nav(post)