mixin post-category(post)
  if (post.categories && post.categories.length)
    != list_categories(post.categories, {show_count: false, class: 'article-category', style: 'none', separator: '►'})

mixin post-date(post, class_name, date_format)
  a(href!=url_for(post.path) class=class_name)
    time(datetime=date_xml(post.date) itemprop="datePublished")
      = date(post.date, date_format)

mixin post-gallery(post)
  .article-gallery
    .article-gallery-photos
      each photo, index in post.photos
        a(
          class="article-gallery-img fancybox" 
          href!=url_for(photo) 
          rel=`gallery_${post._id}`
        )
          img(src!=url_for(photo) itemprop="image")

mixin post-nav(post)
  if (post.prev || post.next)
    nav#article-nav
      if (post.prev)
        a(
          href!=url_for(post.prev.path)
          id="article-nav-newer"
          class="article-nav-link-wrap"
        )
          strong.article-nav-caption= __('newer')
          .article-nav-title
            = post.prev.title ? post.prev.title : "(no title)"
      if (post.next)
        a(
          href!=url_for(post.next.path)
          id="article-nav-older"
          class="article-nav-link-wrap"
        )
          strong.article-nav-caption= __('older')
          .article-nav-title= post.next.title

mixin post-tag(post)
  if (post.tags && post.tags.length)
    != list_tags(post.tags, {show_count: false, class: 'article-tag'})

mixin post-title(post, class_name)
  if (post.link)
    h1(itemprop="name")
      a(
        class=class_name 
        href!=url_for(post.link) 
        target="_blank"
        itemprop="url"
      )= post.title
  else if (post.title)
    if (index)
      h1(itemprop="name")
        a(class=class_name href!=url_for(post.path))= post.title
    else
      h1(class=class_name itemprop="name")= post.title
